blinker
click
Flask
Flask-SQLAlchemy
greenlet
Gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
plotly
python-dateutil
openpyxl
pytz
six
SQLAlchemy
tenacity
typing_extensions
tzdata
uuid
Werkzeug
